.team {
  padding: 160px 0;

  @include maxw($lg) {
    padding: 80px 0;
  }

  @include maxw($md) {
    padding: 40px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include maxw($xxl) {
      margin: 0 -10px;
    }

    @include maxw($sm) {
      flex-direction: column;
      margin: 0;
    }
  } 

  &__item {
    padding: 0 15px 36px;

    @include maxw($sm) {
      padding: 10px 0;
    }
  }

  &__item--title {
    max-width: 550px;
    width: 100%;
    margin: 28px 0 0 110px;

    @include maxw($xxl) {
      order: -1;
    }

    @include maxw($lg) {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
  }
}

.team-card {
  width: 300px;
  box-shadow: 0px 12px 40px rgba(0, 0,0, 0.15);

  @include maxw($sm) {
    width: 100%;
  }

  &:hover .social-icons {
    opacity: 1;
    bottom: 18px;
  } 

  &:hover .team-card__descr {
    background-color: $accent;
    color: #fff;
  }

  &:hover .team-card__job::before {
    background-color: #F6E200;
  }

  &__image {
    width: 300px;
    height: 253px;
    position: relative;
    overflow: hidden;

    @include maxw($sm) {
      width: 100%;
    }

    .team-card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__descr {
    padding: 24px;
    color: $headings;
    border-radius: 0 0 4px 4px;
    transition: background-color 0.3s, color 0.3s;

    @include maxw($sm) {
      background-color: $accent;
      color: #fff;
    } 
  }

  &__job {
    display: block;
    padding-left: 16px;
    position: relative;
    margin-bottom: 12px;

    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 4px;
      background-color: $accent;
      top: 50%;
      transform:translateY(-50%); 
      left: 0;

      @include maxw($sm) {
        background-color: #F6E200;
      }
    }
  }

  &__name {
    display: block;
    font-size: 22px;
    line-height: 1.18;
    @extend %Raleway-600;
    text-transform: capitalize;
  }
}