.footer {
background-color: #032203;

  &__top {
    padding: 160px 0 120px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    @include maxw($xl) {
      flex-wrap: wrap;
    }

    @include maxw($lg) {
      padding: 60px 0 80px;
    }

    @include maxw($sm) {
      padding: 40px 0;
    }
  }

  &__info {
    width: 300px;
    margin-right: 82px;

    @include maxw($lg) {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    @include maxw($sm) {
      width: 100%;
      padding-top: 0;
    }
  }

  .footer-logo {
    width: 278px;
    height: 37px;
    display: inline-block;
    margin-bottom: 40px;

    .footer-logo__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    color: #E7E7E7;
    margin-bottom: 40px;
    max-width: 260px;
  }

  &__block {
    width: 190px;
    margin-right: 60px;

    @include maxw($lg) {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    @include maxw($sm) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__heading {
    margin-bottom: 40px;
    @extend %Raleway-700;
    font-size: 22px;
    line-height: 1.18;
    text-transform: capitalize;

    @include maxw($xs) {
      margin-bottom: 20px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
   font-size: 18px;
   line-height: 1.16;
   @extend %Raleway-500;
   transition: color 0.3s, text-decoration 0.4s;

   @include maxw($xs) {
     font-size: 16px;
   }

    &:focus,
    &:hover,
    &:active {
      color: $accent;
      text-decoration: underline;
    }
  }

  .social-icons--footer {
    position: static;
    opacity: 1;

    .social-icons__item:not(:last-child) {
      margin-right: 20px;
    }

    .social-icons__link {
      border-radius: 2px;
      width: 48px;
      height: 48px;
    }
  }

  &__subscribe {
    width: 410px;

    @include maxw($xl) {
      padding-top: 30px;
    }

    @include maxw($sm) {
      display: block;
      width: 100%;
    }
  }

  &__text-form {
    max-width: 374px;
  }

  &__rights {
    text-align: center;
    padding: 32px 15px;
  }
}

.footer-form {
  width: 100%;
  display: inline-flex;
  height: 52px;
  margin-bottom: 40px;

  &__input {
    font-size: 16px;
    line-height: 1.2;
    @extend %Raleway-400;
    color: $text;
    padding: 16px;
    border-radius: 4px 0 0 4px;
    border: transparent;
    max-width: 358px;
    width: 100%;

    @include maxw($sm) {
      max-width: 100%;
    }
 
    &::placeholder {
      font-size: 16px;
      line-height: 1.2;
      @extend %Raleway-400;
      color: $text;
    }
  }

  &__btn {
    min-width: 52px;
    height: 52px;
    padding: 0;
    @include flexc();
    border-radius: 0px 4px 4px 0px;
    background-color: $accent;
    border: 1px solid transparent;
    transition: border 0.3s, background-color 0.4s;
  
    &:focus,
    &:hover,
    &:active {
      background-color: rgba(71, 191, 111, 0.6);
      border: 1px solid #31A357;
    }
  }
}